html,
body{
    height: 110%;
    background-image: linear-gradient(rgb(46, 46, 46), rgb(225, 225, 225));
}

.container{
    display: flex;
    flex-direction: column;
    /* background-color: red; */
    width: 100%;
    justify-items: center;    
    align-items: center;
}

.title{
    color: #FFFFFF
}

.container .text-contact{
    font-weight: 500;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 1%;
    color: #FFFFFF;
}

.container-form{
    padding: 2%;
    background-color: rgb(46, 46, 46);
    border: solid #ecfc72 ;
    border-radius: 10%;
}

.container .form-control{
    margin-bottom: 10%;
    padding: auto;
    display: flex;
    flex-direction: column;
}

input{
    width: 100%;
    height: 40px;
}

input[placeholder]{
    text-align: center;
    font-weight: 600;
}

textarea{
    resize: none;
}

textarea[placeholder]{
    text-align: center;
    font-weight: 600;
}

button{
    width: 100%;
    height: 40px;
    background-color: #67D3E0;
    border: none;
    color: #000000;
    font-size: 100%;
    font-weight: 600;
}

button:hover{
    background-color: #67d4e085;
    color: #FFFFFF;
}

label.text-input{
    color: #FFFFFF;
    font-weight: 600;
}

.container_maps{
    margin-top: 7%;
    margin-bottom: 3%;
}

.container_maps .text_maps{
    font-weight: 700;
    margin-top: 2%;
    margin-bottom: 1%;
    color: #FFFFFF;
}