body,
html {
    height: 110%;
}

.bg-image {
    background-image: url("../../assets/imagens/background_1.jpg");
    filter: blur(8px);
    -webkit-filter: blur(8px);
    height: 110vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.content {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -40%);
}

.title{
    color: #FFFFFF;
}

.box-container {
    display: flex;
    flex-direction: column;
}

.container-text-description {
    margin-top: 3%;
    width: 100%;
}

.container-text-description .text-description {
    text-align: justify;
    font-weight: 700;
    color: #FFFFFF;
}

.container-text-description .text-description {
    font-weight: 700;
}

.text-example {
    font-style: italic;
}
