html,
body {
    height: 110%;
    background-image: linear-gradient(rgb(46, 46, 46), rgb(225, 225, 225));
}

.container {
    display: flex;
    justify-content: space-between;
}

.content {
    margin-top: 2%;
    text-align: center;

}

.title {
    color: #FFFFFF
}

.name {
    color: #FFFFFF;
    font-weight: bold;
    text-decoration: none;
}

.img_profile {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: solid 5px #494949;
}

.list-people {
    margin-top: 10%;
    text-align: justify;
}